.clockStyle {
    margin: auto;
    max-width: 500px;
    min-width: 100px;
    background: white;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    border-top: 10px solid #55c49f;
    margin-top: 100px
}